$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-slate-gray: #60697B;
$clr-dark-slate-blue: #343F52;
$primary-color: #FEFEFE;
$clr-blue: #3f3852;
$clr-gray-fade: #AAB0BC;
$clr-pink:  #E668B3;
$clr-light-blue: #007bff;
$clr-orange: #BA9651;   
$transition: all  0.3s ease-in;





