// ****************** Reset things ***********
html {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
  scroll-padding: 105px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  transition: direction 0.3s ease, text-align 0.3s ease;
  background: #f6f6f6;
}

// ****************** Utility classes *************
section {
  margin: 0 0 100px 0;
  @media(max-width:1200px){
    margin-bottom: 90px;
  }
  @media(max-width:992px){
    margin-bottom: 70px;
  }
  @media(max-width:768px){
    margin-bottom: 65px;
  }
  @media(max-width:576px){
    margin-bottom: 50px;
  }
}
/* .learn-more-arrow-clr-pink{
  color: #BA1D71;
}
.learn-more-arrow-clr-reddish{
  color: #AE37A1;
}
.learn-more-arrow-clr-darkyellow{
  color: #BB5F51;
}
.darkorange{
  color: #BB864C;
} */

// ************ Header ************
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 20px 25px;
  z-index: 105; /* Ensure it's above everything */
  transition: background-color 0.3s ease;

  @media (max-width: 1200px) {
    padding: 19px 24px;
  }
  @media (max-width: 992px) {
    padding: none;
  }
}

header.scrolled {
  background: $primary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   z-index: 105;

  a {
    color: $clr-blue;
    position: relative;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out, transform 0.2s ease; // Added scaling effect

    &:hover {
      color: $clr-orange;
      transform: scale(1.1); // Scaling effect on hover
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background: $clr-orange;
      transition: width 0.4s ease-in-out;
    }
    &:hover::after {
      width: 100%;
      box-shadow: 0 0 8px $clr-orange;
    }
  }
}

@media (max-width: 1200px) {
  header.scrolled a {
    transition: none;
    &:hover {
      color: none; // Resets to default color
      transform: none; // Removes scaling effect
    }
    &::after,
    &:hover::after {
      content: "";
      position: none;
      left: none;
      bottom: none;
      width: none;
      height: none;
      background: $clr-orange;
      transition: width 0.5s ease-in-out;
    }
    &:hover::after {
      width: 0;
      box-shadow: none;
    }
  }
}

// *********** Hero Section ****************
.hero-section {
  background: url(/images/hero-image.png);
  position: relative;
  width: 100%;
  background-size: cover;
  margin: 0 0 30px 0;
  padding: 180px  70px ;
  @media (max-width: 1200px) {
    padding: 170px  60px ;
  }
  @media (max-width: 992px) {
    padding: 155px  55px ;
  }
  @media (max-width: 768px) {
    padding: 130px  75px ;
  }
  @media (max-width: 576px) {
    padding: 100px 50px ;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e22284d;
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }

  .hero-content {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 660px;
    .hero-section-title {
      text-align: center;
      color: $clr-white;
      line-height: 69px;
      font-weight: 500;
      font-size: 60px;
      margin-bottom: 22px;
      @media (max-width: 1200px) {
        font-size: 58px;
        line-height: 68px;
        margin-bottom: 20px;
      }
      @media (max-width: 992px) {
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 18px;
      }
      @media (max-width: 768px) {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 18px;
      }
      @media (max-width: 576px) {
        font-size: 37px;
        line-height: 47px;
        margin-bottom: 14px;
      }
    }
    .hero-section-description {
      margin-bottom: 40px;
      text-align: center;
      color: $clr-white;
      line-height: 36px;
      font-weight: 400;
      font-size: 24px;
      @media (max-width: 1200px) {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 35px;
      }
      @media (max-width: 992px) {
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 32px;
      }
      @media (max-width: 768px) {
        font-size: 21px;
        line-height: 33px;
        margin-bottom: 32px;
      }
      @media (max-width: 576px) {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 22px;
      }
    }
  }
}
// *********** Branding Section ***********
.branding-section {
  @media(max-width:1200px){
    margin-bottom: 120px;
  }
  @media(max-width:992px){
    margin-bottom: 100px;
  }
  @media(max-width:768px){
    margin-bottom: 80px;
  }
  @media(max-width:576px){
    margin-bottom: 60px;
  }
  .branding-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust size as needed */
    gap: 25px;
    justify-content: center;
    margin:  auto;
    @media(max-width:1200px){
      gap: 20px;
    }
    @media(max-width:992px){
      max-width: 800px;
      gap: 20px;
    }
    .branding-card-box {
      border-radius: 10px;
      background-color: $primary-color;
      // max-width: 300px;
      padding: 40px 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: translateY(-10px); // Lift card on hover
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Bigger shadow on hover
      }
      .img-wrapper {
        margin-bottom: 15px;
      }
      h2 {
        color: $clr-dark-slate-blue;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 10px;
      }
      p {
        color: $clr-slate-gray;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 28.9px;
        margin-bottom: 10px;
       
     
      }
    }
  }
}
// ********** Featuring Section **********
.feature-text-container {
  max-width: 700px;
  text-align: center;
  padding: 0 15px;
  margin: 0 auto;
  .feature-section-sub-title {
    text-transform: uppercase;
    color: $clr-gray-fade;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 21.6px;
    margin-bottom: 15px;
    @media (max-width: 1200px) {
      font-size: 16px;
      margin-bottom: 13px;
      line-height: 20px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 11px;
      line-height: 18px;
    }
    @media (max-width: 576px) {
      font-size: 12px;
      margin-bottom: 10px;
      line-height: 16px;
    }
  }

  .feature-section-title {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 50.4px;
    @media (max-width: 1200px) {
      font-size: 38px;
      line-height: 48px;
    }
    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 43px;
    }
    @media (max-width: 576px) {
      font-size: 28px;
      line-height: 37px;
    }
  }
}

.featuring-card-container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px , 3fr));
  gap: 25px;
  @media(max-width:576px){
    grid-template-columns: repeat(auto-fit, minmax(320px , 3fr));
    gap: 10px;
    margin: 30px 0 ;
  }

  .featuring-card {
    display: flex;
    gap: 20px;
    padding: 20px 22px;
    border-radius: 10px;
    transition: background 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background: $primary-color;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Bigger shadow on hover
    }

    .featuring-content {
      display: flex;
      flex-direction: column;
    }
  }
}

// ************* Collect Ideas Part with Image *********************
.collect-idea-wrapper {
  display: flex;
  gap: 70px;
  margin-bottom: 140px;
  @media (max-width: 1200px) {
    gap: 50px;
    margin-bottom: 120px;
  }
  @media (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .img-holder {
    @media (max-width: 992px) {
      align-self: center;
      justify-content: center;
    
    }
    @media (max-width: 792px) {
      align-self: center;
      justify-content: center;
    }

    img {
      max-width: 610px;
      border-radius: 6px;
      transition: transform 0.3s ease;

      @media (max-width: 992px) {
        align-self: center;
        justify-content: center;
        width: 700px;
      }
      @media (max-width: 768px) {
        align-self: center;
        justify-content: center;
        max-width: 500px;
      }
      @media (max-width: 576px) {
        align-self: center;
        justify-content: center;
        max-width: 350px;
      }
      &:hover {
        transform: scale(1.02); // Slight zoom effect on hover
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Bigger shadow on hover
      }
    }
  }

  .ideas-text-wrapper {
    h3 {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
      font-size: 27px;
      margin-bottom: 15px;
      @media (max-width: 1200px) {
        font-size: 25px;
        line-height: 28px;
      }
      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 25px;
      }
      @media (max-width: 576px) {
        font-size: 20px;
        line-height: 22px;
      }
    }
    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 28.9px;
      margin-bottom: 25px;
      @media (max-width: 1200px) {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
      }
      @media (max-width: 992px) {
        font-size: 15px;
        margin-bottom: 12px;
        line-height: 23px;
      }
    }

    .checklist-item {
      margin-bottom: 30px;
      @media(max-width:768px){
        margin-bottom: 25px;
      }
      ul{
        font-size: 13px;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(300px, 3fr));
        gap: 10px;
      }
      li{
        display: flex;
        gap: 6px;
        align-items:baseline;
      }
    
    }
  }
}
